[submodule "3rd-party/curl"]
	path = 3rd-party/curl
	url = ../../curl/curl.git
	branch = master
[submodule "3rd-party/iniparser"]
	path = 3rd-party/iniparser
	url = ../../ndevilla/iniparser.git
	branch = main
[submodule "3rd-party/protobuf-c"]
	path = 3rd-party/protobuf-c
	url = ../../protobuf-c/protobuf-c.git
	branch = master

[submodule "3rd-party/zlog"]
	path = 3rd-party/zlog
	url = ../../hardysimpson/zlog.git
